@import "../../Variables.scss";

.basic-details {
  padding: 20px;
  max-width: 380px;
  background: white;
  border-radius: 8px;
  margin: 7px 5px 5px 0px;

  .detail-label {
    color: #6e8dfb;
  }
}
