.detail-selector-tabs {
    background-color: #eef1f6;
    padding: 4px;
    color: #99a4ad;
    font-weight: bold;
    border-radius: 8px;
    margin: 5px;

    .tab-item {
        padding: 5px 10px;
        flex: 1;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        &.active {
            background-color: white;
            color: #03a9f4;
        }
    }
}