@import "../../Variables.scss";

.user-list-container {
  display: flex;
  flex-direction: column;

  .search-container {
      padding: 7px 0px;

      .ms-SearchBox {
        border: none;
        border-radius: 5px;

        &.is-active::after {
            border: none;
        }
      }
  }

  .user-list {
    overflow: auto;
    background: white;
    padding: 5px;

    .user-list-item {
      &.is-selected {
        background-color: #f2f5f9 !important;
      }
    }
  }
}
