@import "../../Variables.scss";

.user-details {
  flex: 1;
  overflow: auto;
}

.user-details-header {
  padding: 10px;
  padding-bottom: 5px;
  margin: 5px 0px 5px 5px;
  background: white;
  border-radius: 5px;
}

.second-row {
  background: white;
  margin: 5px;
  // padding: 10px;
  border-radius: 5px;
}

.tab-details {
  background-color: #f2f5f9;
  margin: 5px;
  border-radius: 5px;
}
