.timeline-container {
  background: white;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 7px;
  padding: 10px;

  .heading {
    font-size: 15px;
    font-weight: bold;
    color: gray;
    padding-bottom: 10px;
  }
}


