.heading {
  font-size: 15px;
  font-weight: bold;
  color: gray;
  padding-bottom: 10px;
}

.scans-screen {
  background: white;
  margin: 5px;
  padding: 10px;
  margin-right: 0;
  margin-top: 0;
  border-radius: 7px;
}

.scan-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}
