@import "../../Variables.scss";

.selected-user-card {
  padding: 20px 30px;
  width: 280px;
  background: white;
  border-radius: 8px;
  margin: 7px 5px 5px 5px;
  
  .appointments {
    align-self: stretch;
    padding: 15px 0px;
  }
}
