.App {
  height: 100vh;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #f2f5f9;

  & > .header {
    background: white;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .doctor-name {
      color: #456dfbc4;
      font-weight: bold;
      cursor: pointer;
      padding-right: 10px;
    }
  }
}
