.auxilary-data {
  max-width: 300px;
  min-width: 300px;
  flex: 1;
  overflow: auto;

  .all-notes-button {
    color: #456dfbc4;
    cursor: pointer;
    font-weight: bold;
  }

  .header {
    padding: 0px 5px 7px 5px;

    .heading {
      font-size: 15px;
      font-weight: bold;
      color: gray;
    }
  }
}

.user-notes {
  background: white;
  flex: 1 1;
  margin: 7px 0px 12px 5px;
  padding: 7px 7px 2px 7px;
  border-radius: 5px;

  .note-container {
    background: #f2f5f9;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 7px;
  }

  .user-note {
    margin: 5px 0px;
    //   background: aliceblue;
    background: none;
    outline: none;
    border: none;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    flex: 1;
  }

  .note-item {
    cursor: pointer;
    padding: 10px 8px;
    margin: 5px 0px;
    border-radius: 4px;
    // box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);

    &:hover {
      background: #f2f5f9;
    }
  }

  .note-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 0px;
  }
  .note-doctor {
    cursor: pointer;
    // font-weight: bold;
    color: gray;

    .doctor-icon {
      color: #456dfbc4;
    }
  }

  .note-date {
      color: gray;
      padding-right: 5px;
  }

  .save-note-button {
    width: 60px;
    align-self: flex-end;
    background-color: #456dfbc4;
    border-color: #456dfbc4;
  }
}

.user-files {
  background: white;
  flex: 1 1;
  margin: 7px 0px 5px 5px;
  padding: 5px 5px 0px 5px;
  border-radius: 5px;
  overflow: auto;

  .file-icon {
    padding: 5px;
    color: #456dfbc4;
    font-weight: bold;
    cursor: pointer;
  }

  .file-list {
    padding: 10px 5px 0px 5px;
    overflow: auto;

    .user-file {
      cursor: pointer;
      padding: 10px 8px;
      margin: 0px 0px 5px 0px;
      border-radius: 4px;
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);

      &:hover {
        background: #f2f5f9;
      }

      .file-item-icon {
        color: gray;
        font-size: 13px;
        padding: 0px 2px;

        &:hover {
          color: #456dfbc4;
        }
      }

      .file-size {
        color: gray;
      }
    }
  }
}
